#mid {
  margin: 17%;
}
h1 {
  text-align: center;
  padding: 2%;
}
#showQuestion {
  text-align: center;
  margin-left: 15%;
  font-size: 25px;
}
#timer {
  float: right;
  padding: 2%;
  font-size: 30px;
}
#gameEnd {
  text-align: center;
  margin-left: 15%;
  font-size: 25px;
}
#start {
  margin-left: 50%;
}
#initial,
#input {
  margin-left: 15%;
}
